@import url(/Css/style.css);

.container2 {
    max-width: 650px;
    padding: 50px 30px 70px;
    border-radius: 10px;
    background: black;
    color: white;
}

.container2 img {
    display: block;
    position: relative;
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

