@import url(/Css/style.css);

.container2 {
    max-width: 650px;
    padding: 50px 30px 70px;
    border-radius: 10px;
    background: black;
    color: white;
}

.container2 img {
    display: block;
    position: relative;
    width: 450px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
/* Style général du tableau*/
table {
    width: 100%;
    border-collapse: collapse;
}

/*Style de l'en-tête*/
th {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/*Style des cellules du tableau*/
td {
    border: 1px;
    text-align: center;
    padding: 8px;
    color: black;
    font-weight: bold;
}

/*Style des lignes paires du tableau*/
tr:nth-child(even) {
    background-color: lightskyblue;
}

/*Style des lignes impaires*/
tr:nth-child(odd) {
    background-color: lightblue ;
}
