/*Appliquer un style à tous les éléments de la page */
* {
    margin: 0; /* Réinitialise la marge de tous les éléments à 0 */
    padding: 0; /* Réinitialise le padding de tous les éléments à 0 */
    box-sizing: border-box; /* Modifie la méthode de calcul de la largeur et de la hauteur des éléments pour inclure le padding et la bordure sans affecter la taille totale de l'élément */
    font-family: "Poppins", sans-serif;
    color: white;
}

/*Styles du corps de la page */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4f296b, #5b62c2, #13181d);
}

header nav {
    padding: 15px 5% 15px 5%;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color: white;
}

header nav .navbar {
    display: flex;
    align-items: center;
}
header nav .navbar p {
    margin: 0 15px 0 0;
    color: #ccc;
    cursor: pointer;
}

header nav .navbar p:hover {
    color: white;
}

/* Style du container */
.container {
    width: auto; /* Ajustement de la largeur à 100% */
    height: auto;
    margin: 0 auto; /* Correction de la marge */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


